

body {
   padding-top: 60px;
   margin: 25px auto;
   font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.bar:hover {
   fill-opacity: 0.5;
}

.axis {
   font: 10px sans-serif;
}

.axis path,
.axis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
}

/*.rightSVG{*/
   /*float: right;*/
   /*width: 50%;*/
/*}*/

#svg1 {
   width: 40%;
   height: 400px;
   margin-left: 50px;
   float: left;
}

#svg2 {
   margin-left: 5%;
   height: 400px;
}

#svg1HereMap {
   height: 400px;
}

.dot {
   stroke: #000;
}

ul#filter-list li {
    display:inline;
}
