

body {
   padding-top: 60px;
   margin: 25px auto;
   font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.bar:hover {
   fill-opacity: 0.5;
}

.axis {
   font: 10px sans-serif;
}

.axis path,
.axis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
}

.dot {
   stroke: #000;
}

